:root {
  --dark-green: #026670;
  --dark-beige: #fce181;
  --light-green: #9fedd7;
  --light-gray: #edeae5;
  --light-beige: #fef9c7;
  --font-content: "Montserrat", sans-serif;
}

.obligatorio {
  color: red;
}


.login-page button,
.sign-up-page button {
  all: unset;
  background-color: var(--light-green);
  padding: .5rem;
  box-shadow: 1px 1px 1px var(--dark-green);
  cursor: pointer;
  text-decoration: none;
  color: var(--dark-green);
  text-align: center;
}

form button,
form button,
.button {
  all: unset;
  background-color: var(--light-green);
  padding: .5rem;
  box-shadow: 1px 1px 1px var(--dark-green);
  cursor: pointer;
  text-decoration: none;
  color: var(--dark-green);
  text-align: center;
}

form button:hover,
.button:hover {
  color: white;
  background-color: var(--dark-green);
  padding: .7rem;
}

.button {
  display: flex;
  gap: .2rem;
  justify-content: center;
  align-items: center;
}

@media (min-width:698px) {
  .button {
    width: 100px;
    font-size: .8rem;
  }

  .button:hover {
    color: white;
    background-color: var(--dark-green);
  }
}