.list-homepage-categories {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.list-homepage-categories li {
  list-style: none;
}

@media (min-width: 698px) {
  .list-homepage-categories {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}