@import url("./base.css");

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 13px;
}

.footer .footer-ul img {
  width: 25px;
  border-radius: 50% 50%;
  transition: background .5s ease-in 0s;
}

.footer .footer-p1 {
  background-color: var(--light-green);
  padding: 1rem;
}

.footer>section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--dark-green);
  padding: .5rem;
}

.footer .footer-p2 {
  border-bottom: 1pt solid gainsboro;
  padding: .5rem;
}

.footer .footer-ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer .footer-ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .3rem;
  transition: color, font-size .5s linear 0s;
}

.footer .footer-ul img:hover {
  box-shadow: 2px 2px 10px var(--dark-green);
  background-color: var(--light-green)
}

.footer .footer-ul li:hover {
  color: var(--light-green);
  font-size: 14px;
}

.footer .footer-ul li span {
  flex: 1 auto;
  text-align: center;
}

/*Footer animaciones último parrafo*/
.footer .footer-p2 {
  display: flex;
  gap: 7px;
  justify-content: center;
  align-items: center;
}

.footer .am-footer__love .am-font-awesome {
  transition: all 0.22s ease-in-out;
}

.footer .footer-p2 .am-font-awesome svg {
  width: 25px;
  fill: currentColor;
}

.footer .footer-p2 svg {
  display: initial;
}

.footer img,
.footer .footer-p2 object,
.footer .footer-p2 svg,
.footer .footer-p2 video {
  vertical-align: middle;
}

.footer .am-footer__coffee .am-font-awesome {
  transition: all 0.22s ease-in-out;
}

.footer .am-footer__code:hover .am-font-awesome,
.footer .am-footer__coffee:hover .am-font-awesome {
  color: #ffb405;
  transform: scale(1.35);
}

.footer .am-footer__love:hover .am-font-awesome {
  color: #ff6460;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-name: pulse;
}

.footer .am-footer__love .am-font-awesome {
  transition: all 0.22s ease-in-out;
}

@keyframes pulse {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  50% {
    -webkit-transform: scale3d(1.35, 1.35, 1.35);
    transform: scale3d(1.35, 1.35, 1.35);
  }

  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@media (min-width: 752px) {
  .footer section {
    flex-direction: row;
    justify-content: center;
    gap: 2px;
    border-bottom: 1pt solid gainsboro;
  }

  .footer section .footer-p2 {
    border-bottom: none;
  }
}