.login-page,
.sign-up-page,
.post-place-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  gap: 2rem;
}

.login-page form,
.sign-up-page form,
.post-place-page form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1pt solid gainsboro;
  padding: 2rem 2rem;
}

.login-page form,
.sign-up-page form {
  max-width: 600px;
}

.login-page input,
.sign-up-page input {
  padding: .5rem;
  margin-bottom: 1rem;
}

.sign-up-page fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}