.navheadercountries {
  display: flex;
  flex-flow: column;
  position: absolute;
}

.navheadercities {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.navheadercategories {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.navheadercountries,
.navheadercities,
.navheadercategories {
  margin: 0 0.5em;
}

.navheader {
  display: flex;
  margin-right: 10rem;
}

.navheader-button {
  all: unset;
  margin: 0 0.5em;
  padding: 7px 0;
  border-bottom: 1pt solid var(--dark-green);
}

.navheader-li {
  margin: 0 0.5em;
  list-style: none;
  padding: 3px 0;
}

.navheader-li:not(:last-child) {
  border-bottom: 1pt solid gainsboro;
}

.auth {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.navheader-a,
.auth-link {
  text-decoration: none;
}

.auth-li {
  margin: 0 0.5em;
}

header {
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-green);
}

.header-link {
  text-decoration: none;
  color: black;
}

.header-button {
  all: unset;
  /* display: none; */
  color: var(--dark-green);
  cursor: pointer;
  font-size: 1.1rem;
}

.header-button:hover {
  color: white;
  font-size: 1.2rem;
}

.header-nav {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.header-ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.header-ul img.auth-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50% 50%;
}

.header-li {
  list-style: none;
  margin: 0 0.5em;
}

.header-svg {
  width: 2em;
  height: 2em;
}

.header-h2 {
  color: lightslategray;
  font-size: 10px;
}

.header-h1 {
  font-size: 20px;
}

.header-button {
  display: flex;
}

.header-nav {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 0vh;
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.header-nav {
  display: flex;
  transition: all 0.5s ease;
  height: 35vh;
  opacity: 1;
  background-color: var(--light-gray);
}

.header-ul {
  flex-direction: column;
  align-items: flex-start;
}

.header-li {
  margin: 0.5em 0;
}

.auth {
  flex-direction: column;
}

.navheader {
  flex-direction: column;
}

.navheadercities,
.navheadercountries,
.navheadercategories {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 0vh;
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.navheadercities,
.navheadercountries,
.navheadercategories {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 15vh;
  opacity: 1;
  position: inherit;
  font-size: 13px;
  overflow: auto;
}
