/* .header * {
  border: 1pt solid red;
} */

.header {
  display: grid;
  grid-template-columns: 2fr auto;
  grid-template-rows: 1fr auto;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  box-shadow: 1px 1px 10px black;
}

.header ul li {
  list-style: none;
  padding: .5rem 0;
}

.header ul ul li {
  cursor: pointer;
}

.header a {
  color: var(--dark-green);
  text-decoration: none;
}


.header-title h2 {
  font-size: .8rem;
  font-weight: 400;
}

.navheader-component {
  position: relative;
}

/*Gestión del menu hamburguesa*/
.header-button {
  all: unset;
  cursor: pointer;
  font-size: 1.1rem;
  width: 35px;
  color: var(--dark-green);
}

.header-button:hover {
  width: 36px;
  color: black;
}

.header-nav {
  display: none;
}

.header-nav.show {
  display: block;
}

.header-section-menu .hide {
  display: none;
}

.header-nav>ul>li:not(:last-child) {
  border-bottom: 1pt solid gainsboro;
}

@media (min-width:698px) {
  .header-button {
    display: none;
  }

  .header-nav {
    display: block;
  }

  .header * {
    border: 1pt solid red;
  }

}