.home-page {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 1rem 0;
}

.home-page h3 {
  color: var(--dark-green);
  font-weight: 400;
}

.home-page section {
  text-align: center;
}

@media (min-width: 698px) {

  .home-page section {
    margin: 0 1.5rem;
    text-align: left;
  }
}