.place-detail-container,
.info-card,
.photo-card,
.comment-card {
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  max-width: 100%; 
  box-sizing: border-box; 
}

.place-detail-container {
  display: flex;
  flex-direction: column;
}

.photo-card ul,
.category-card ul,
.comment-card ul {
  list-style-type: none;
}
/* photo */
.photo-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  filter: grayscale(100%); 
  transition: transform 0.3s ease, filter 0.3s ease; 
}

.photo-card img:before {
  border-radius: 8px;
  pointer-events: none;
  transition: opacity 0.3s ease; /* Agrega una transición suave a la opacidad */
}

.photo-card:hover img {
  transform: scale(1.1); 
  filter: none; 
}



/* coment-card */
.comment-card li,
.votation-update-container {
  display: flex;
  flex-direction: column;
  background-color: var(--light-green);
  color: rgb(32, 32, 32);
  border-radius: 2%;
  padding: 10px;
  margin-bottom: 8px;
  font-size: 1.2rem;

}

.elements-li-container {
  display: flex;
  flex-direction: row;
}

.elements-li-container-sub {
  margin-left: 30%;
}

.elements-li-container p {
  margin: 10px;
}

.elements-li-container span.emoji {
  color: white
}

.comment-card img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 16px
}


/* info-card */
div.info-card {
  background-color: var(--light-green);
  height: min-content;
  color: rgb(17, 17, 17);
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.info-title {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 20px;
  text-align: center;
  background-color: var(--dark-green);
  color: whitesmoke;
}

div.info-card p {
  margin: 0.8rem;
  
}
/* arrows */
.next-place,
.last-place {
  font-size: 50px;
  color: var(--dark-green);;
  cursor: pointer;
}

.next-place {
  transform: rotate(90deg);
}

.last-place {
  transform: rotate(270deg);
}

.container-triangule {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.3rem;

}

@media (min-width: 768px) {

  .place-detail-container {
    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content: center;
  }

  .comment-card li,
  .votation-update-container {
    border-radius: 8%;
    width: 100%;
  }

.container-comment-postvotes{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.next-place,
.last-place {
  font-size: 75px;
 
}

}