.post-votes-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 20px;
  font-size: 1.2rem;
}
#infocard-masinfo {
  cursor: pointer;
  font-style: oblique;
  color: var(--dark-green);
  font-size: 1rem;
  font-weight: bold;
}

.post-votes-container h3 {
  background: linear-gradient(
    217deg,
    var(--light-green),
    var(--dark-green) 71%
  );
  color: white;
  padding: 10px;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.post-votes-container form {
  display: flex;
  flex-direction: column;
}

.stars-container {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.stars-container span {
  font-size: 24px;
  cursor: pointer;
  color: gray;
}

.stars-container span.votation {
  color: gold;
}

.comment-input {
  width: 100%;
  height: max-content;
  padding: 8px;
  border: 1px solid var(--dark-green);
  border-radius: 4px;
  margin-bottom: 16px;
  font-size: 1.2rem;
}

.votes-button {
  background-color: var(--light-green);
  box-shadow: 1px 1px 1px var(--dark-green);
  text-decoration: none;
  color: var(--dark-green);
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
}

.post-votes-container p {
  margin-top: 1rem;
  font-size: 1.2rem;
}
