.navheadercountries.show {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  position: absolute;
}
.navheadercountries.hide {
  display: none;
}

.navheadercities.show {
  display: flex;
  flex-direction: row;
  position: absolute;
}

.navheadercities.hide {
  display: none;
}
.navheadercategories.show {
  display: flex;
  flex-direction: row;
  position: absolute;
}

.navheadercategories.hide {
  display: none;
}

.navheadercountries,
.navheadercities,
.navheadercategories {
  margin: 0 0.5em;
}

.navheader {
  display: flex;
  margin-right: 10rem;
}

.navheader-button {
  all: unset;
  margin: 0 0.5em;
}
.navheader-li {
  margin: 0 0.5em;
  list-style: none;
}
.auth {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.navheader-a,
.auth-link {
  text-decoration: none;
}
.auth-li {
  margin: 0 0.5em;
}

header {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.header-h2 {
  color: lightslategray;
  font-size: 20px;
}
.header-h1 {
  font-size: 30px;
}
.header-button {
  all: unset;
  display: none;
  background-color: black;
  color: white;
}

.header-ul {
  display: flex;
  flex-flow: row nowrap;

  align-items: flex-start;
}
.header-li {
  list-style: none;
  margin: 0 0.5em;
}

.header-svg {
  width: 2em;
  height: 2em;
}

@media screen and (max-width: 480px) {
  .header-button {
    display: flex;
  }
  .header-nav {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 0vh;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  .header-nav.isActive {
    display: flex;
    height: 35vh;
    opacity: 1;
  }

  .header-ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .header-li {
    margin: 0.5em 0;
  }
  .auth {
    flex-direction: column;
  }
  .navheader {
    flex-direction: column;
  }
  .navheadercities.hide,
  .navheadercountries.hide,
  .navheadercategories.hide {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 0vh;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  .navheadercities.show,
  .navheadercountries.show,
  .navheadercategories.show {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 15vh;
    opacity: 1;
    position: relative;
  }
}
