.category.Naturaleza {
  background-image: url("../../img/naturaleza.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.category.Cultura {
  background-image: url("../../img/cultura.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.category.Deportes {
  background-image: url("../../img/deporte.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.category.Relajación {
  background-image: url("../../img/relax1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.category.Romántico {
  background-image: url("../../img/romantico.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.category.Aventura {
  background-image: url("../../img/aventura1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

ul.list-homepage-categories {
  display: flex;
  flex-direction: row;
  gap: 50px;
  list-style: none;
}
ul.list-homepage-categories li {
  width: 500px;
  height: 200px;
  text-align: center;
}

.link-categories {
  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
